PORT=3001
JWT_SECRET=sua-chave-secreta-aqui-mude-em-producao
DB_PATH=./data/emissor.db

# NFS-e Nacional
NFSE_API_URL_PROD=https://sefin.nfse.gov.br/sefinnacional
NFSE_API_URL_HOMOLOG=https://sefin.nfse.gov.br/sefinnacional/homologacao
NFSE_AMBIENTE=homologacao
